{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <h1 class="mt-5">Edit book "{{ book.name }}"</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3 book-edit'}}) }}
        <div class="col-12">
            {{ form_errors(form) }}
        </div>

        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-12">
            {{ form_row(form.published) }}
        </div>
        <div class="col-12">
            {{ form_row(form.authors) }}
        </div>
        <div class="col-12">
            {{ form_row(form.bookCover) }}
            {% if (book.bookCover) %}
                <div class="image">
                    <a href="{{ asset('uploads/images/' ~ book.bookCover) }}" title="Show image"><img src="{{ asset('uploads/images/' ~ book.bookCover) }}"/></a>
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="form-group mt-4">
                <a href="{{ path('app_books_list') }}" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-angle-left"></i>&nbsp;Back</a>
                {{ form_widget(form.submit, {'label': 'Save'}) }}
                {{ form_widget(form.reset, {'label': 'Reset'}) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}