{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block content %}

    <h1 class="mt-5">Book "{{ book.name }}"</h1>

    <table class="table mt-4 book-view">
        <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ book.description }}</td>
        </tr>
        <tr>
            <th scope="row">Published</th>
            <td>{{ book.published | date("Y") }}</td>
        </tr>
        <tr>
            <th scope="row">Authors</th>
            <td>{{ book.authors | map(author => "#{author.firstName} #{author.lastName}")|join(', ') }}</td>
        </tr>
        <tr>
            <th scope="row">Cover</th>
            <td>
                {% if (book.bookCover) %}
                    <div class="image">
                        <a href="{{ asset('uploads/images/' ~ book.bookCover) }}"><img src="{{ asset('uploads/images/' ~ book.bookCover) }}"/></a>
                    </div>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_books_list') }}" type="button" class="btn btn-outline-primary mt-3"><i class="fa-solid fa-angle-left"></i>&nbsp;Back</a>

{% endblock %}