{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <h1 class="mt-5">Edit author "{{ author }}"</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-12">
            {{ form_errors(form) }}
        </div>

        <div class="col-12">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-12">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-12">
            <div class="form-group mt-4">
                <a href="{{ path('app_authors_list') }}" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-angle-left"></i>&nbsp;Back</a>
                {{ form_widget(form.submit, {'label': 'Save'}) }}
                {{ form_widget(form.reset, {'label': 'Reset'}) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}