{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="col-6">
            <h1>Authors</h1>
        </div>
        <div class="col-6">
            <a href="{{ path('app_authors_new') }}" type="button" class="mt-2 btn btn-success float-end"><i class="fa-solid fa-plus"></i>&nbsp;Add new</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Books Number</th>
                    <th style="width: 130px">&nbsp;</th>
                </tr>
                </thead>
                <tbody data-books-target="list">
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.firstName }}</td>
                            <td>{{ author.lastName }}</td>
                            <td>{{ author.booksNumber }}</td>
                            <td>
                                <a href="{{ path('app_authors_view', {'id': author.id}) }}" title="View" type="button" class="btn btn-outline-primary btn-sm">
                                    <i class=" fa-solid fa-eye"></i>
                                </a>
                                <a href="{{ path('app_authors_edit', {'id': author.id}) }}" title="Edit" type="button" class="btn btn-outline-success btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="{{ path('app_authors_delete', {'id': author.id}) }}" title="Delete" onClick="return confirm('Are you sure you want to delete this item?');" type="button" class="btn btn-outline-secondary btn-sm">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}